*{
    margin: 0;
    padding: 0;

}
    
.container{
    height: 100vh;
    background-color: tomato;
    
    display: grid;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "header header"
    "nav nav"
    "main info1"
    "main info2"
    "main info3"
    "main info4"
    "main info5"
    "footer footer";
}

header{
    background-color: green;
    grid-area: header;
}

nav{
    background-color: brown;
}

main{
    background-color: aqua;
    grid-area: main
}

footer{
    background-color: blue;
    grid-area: footer;
}

.info1{
    background-image: url(bilder/sweden.png);
    background-size: 49.4%;
    background-repeat: no-repeat;
    background-color: rgb(0,81, 148);
    grid-area: info1;
}

.info2{
    background-image: url(bilder/Norwayflag.webp);
    background-size: 47%;
    background-repeat: no-repeat;
    background-color: rgb(226, 51, 51);
    grid-area: info2;
}

