*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footercontainter{
    width: 100%;
    padding: 50px 30px 10px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effects on Social Media Icons */
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
    
.container{
    height: 100vh;
    background-color: gray;
    background:rgba(0,0,0,0.7) url(bilder/mapof.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    background-blend-mode: darken;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "header header"
    "nav nav"
    "main info1"
    "main info2"
    "main info3"
    "main info4"
    "main info5"
    "footer footer";
}

header{
    grid-area: header;
    background-image: url(bilder/logo.jpg);
    background-repeat: no-repeat;
    padding: 100px;
}

nav{
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.info1{
    background-image: url(bilder/sweden.png);
    background-size: 49.4%;
    background-repeat: no-repeat;
    background-color: rgb(0,81, 148);
    grid-area: info1;
}

.info2{
    background-image: url(bilder/Norwayflag.webp);
    background-size: 47%;
    background-repeat: no-repeat;
    background-color: rgb(209, 5, 42);
    grid-area: info2;
}

.info3{
    background-image: url(bilder/finlang.jpg);
    background-size: 52%;
    background-repeat: no-repeat;
    background-color: rgb(255, 2255, 255);
    grid-area: info3;
}

.info4{
    background-image: url(bilder/danmarl.jpg);
    background-size: 52%;
    background-repeat: no-repeat;
    background-color: rgb(229, 24, 55);
    grid-area: info4;
}

.info5{
    background-image: url(bilder/iceland.jpg);
    background-size: 57%;
    background-repeat: no-repeat;
    background-color: rgb(0, 56, 151);
    grid-area: info5;

}